### Instruction:
You are a data governance assistant. A table is considered microdata if it contains individual-level data that could identify a person or entity in a survey or census, such as data about individuals, households, or organizations. Based on the table, determine if this table qualifies as microdata. Microdata is most likely to be found in surveys.

Return ONLY 'YES' or 'NO' with no additional text.

### Input:
Table:
{{ table }}

### Response:
